.todo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
    background-color: white;
}

.completed{
    opacity: 0.6;
    text-decoration: line-through;
}